<div class="tab-bar">

  <a
    class="tab-item"
    routerLink="/dashboard"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }">

    <div class="tab-icon-wrap">
      <ion-icon name="home"></ion-icon>
    </div>

  </a>

  <a
    class="tab-item"
    routerLink="/courses"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }">

    <div class="tab-icon-wrap">
      <ion-icon name="book-outline"></ion-icon>
    </div>

  </a>

  <a
    class="tab-item"
    routerLink="/activities"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }">

    <div class="tab-icon-wrap">
      <ion-icon name="time-outline"></ion-icon>
    </div>

  </a>

  <a
    class="tab-item"
    routerLink="/profile"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }">

    <div class="tab-icon-wrap">
      <ion-icon name="person-outline"></ion-icon>
    </div>

  </a>

</div>